.topbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    width: 100%;
    max-width: 430px;
    padding-top: 10px;
    padding-bottom: 10px;

    background: white;
    border-bottom: 1px solid #e5e5e5;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-header {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.4px;
  
    margin: 0;
    
  }

  .app-header-logo {
    height: 48px;
    width: auto;
    display: block;
  }
  