:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: #111;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.graph-carousel::-webkit-scrollbar {
  display: none;
}
